openapi: "3.0.0"
info:
  version: 1.0.0
  title: Afes73 website API
servers:
  - url: https://api.afes.info/
  - url: http://localhost:8000/ # for local test

paths:
  /admin/login:
    post:
      summary: Login and get API Key
      tags:
      - admin auth
      requestBody:
        description: credentials
        content:
          application/json:
            schema:
              type: "object"
              required:
              - id
              - password
              properties:
                id:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: "Login Successful"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  token:
                    type: "string"
        '401':
          description: "Login failed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/user:
    get:
      summary: get logged in user info
      tags:
      - admin auth
      security:
      - admin: []
      responses:
        '200':
          description: "User info (logged in)"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
        '401':
          description: "Not logged in"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  parameters:
  securitySchemes:
    admin:
      type: apiKey
      in: header
      name: X-ADMIN-TOKEN
      description: Credentials or access token for API
